@charset "UTF-8";

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff) format('woff');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff) format('woff');
    font-style: normal;
    font-weight: bold;
}

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;outline:none}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {/* list-style:none */}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:''}
input,select,textarea,button {vertical-align:middle}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:16px;line-height:1.5;font-family:'Noto Sans', 'NanumBarunGothic', sans-serif;color:#222}
a {color:#222;text-decoration:none}
a:active, a:hover {text-decoration:underline}
a:active {background-color:transparent}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

::selection { background: #ff8149; color:#fff;}
::-moz-selection { background: #ff8149; color:#fff;}

.sr-only {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}

/* layout */
#container {background:#f3f5f7; min-width:1200px}
#header {padding:10px; border-bottom:1px solid #ddd; background:#fff;}
#contentWrap {width:1200px; margin:10px auto;}
#contentWrap:after {display:block; clear:both; content:'';}
#content {width:910px; float:left;}
#sidebar {width:280px; float:right;}
#footer {padding:30px 0; border-top:1px solid #ddd; background:#fff;}

/* header */
.global-wrap {width:1200px; margin:0 auto;}
.global-wrap:after {display:block; clear:both; content:'';}
.blog-title {float:left;}
.header-nav {float:right; margin-top:10px}
.header-nav li {display:inline-block; margin-left:15px;}
.header-nav li button {vertical-align:top}
.header-nav li div {position:relative}
.header-nav li input.search-input {position:absolute; right:30px; top:-4px; padding:4px; border:1px solid #ddd; border-radius:5px;}

/* footer */
.footer-nav {margin-bottom:5px; font:0.75em normal dotum, sans-serif; text-align:center}
.footer-nav a {display:inline-block; margin:0 3px}
.copyright {color:#999; text-align:center; font:0.688em normal verdana, tahoma, sans-serif; letter-spacing:1px}
.copyright a {color:#ff8149}
.copyright a:hover, .copyright a:active, .copyright a:focus {text-decoration:underline}

/* *********************************************************************
   sidebar
   ****************************************************************** */
#sidebar div {position:relative; margin-bottom:10px; padding:10px; background:#fff; border:1px solid #ddd}
#sidebar div h1 {font-size:1.125em; color:#000; font-weight:normal; font-family:'Roboto', tahoma, 'NanumBarunGothic', 'Noto Sans', sans-serif;}

/* category */
.category {}
.category .tt_category {list-style:none}
.category .tt_category .link_tt {}
.category .tt_category .c_cnt {color:#ff8149; font-size:0.725em;}
.category .tt_category img {display:none;}
.category .tt_category ul.category_list {margin:10px 0 0 20px}
.category .tt_category ul.category_list li {list-style:disc}
.category .tt_category ul.category_list li a {}
.category .tt_category ul.category_list li ul.sub_category_list {margin:0 0 10px 0;}
.category .tt_category ul.category_list li ul.sub_category_list li {list-style:none}
.category .tt_category ul.category_list li ul.sub_category_list li a {display:block; padding:3px 0 3px 15px; font-size:0.85em; color:#777; border-left:1px solid #e9e9e9}

/* notice */
.notice {}
.notice ul {margin:6px 0 0; padding:5px 0 0; border-top:1px solid #e9e9e9; list-style:none}
.notice ul li:before {font-weight:bold; content:"· "}
.notice ul li {font-size:0.875em}
.notice ul li a {display:inline-block; padding:4px 0 0;}
.notice ul li a:hover, .notice ul li a:active, .notice ul li a:focus {color:#ff8149; text-decoration:none}
.notice .more {position:absolute; top:10px; right:10px; font-size:0.875em}

/* recent-post */
.recent-post {}
.recent-post ul {margin:6px 0 0; padding:5px 0 0; border-top:1px solid #e9e9e9; list-style:none}
.recent-post ul li:before {font-weight:bold; content:"· "}
.recent-post ul li:after {display:block; clear:both; content:''}
.recent-post ul li {font-size:0.875em}
.recent-post ul li a {display:inline-block; padding:4px 0 0;}
.recent-post ul li a:hover, .recent-post ul li a:active, .recent-post ul li a:focus {color:#ff8149; text-decoration:none}
.recent-post ul li a .cnt {font-size:0.75em; color:#ff8149}

/* recent-comment */
.recent-comment {}
.recent-comment ul {margin:6px 0 0; border-top:1px solid #e9e9e9; list-style:none}
.recent-comment ul li {margin-top:15px; font-size:0.875em; line-height:1}
.recent-comment ul li:after {display:block; clear:both; content:''}
.recent-comment ul li a {float:left}
.recent-comment ul li a:hover, .recent-comment ul li a:active, .recent-comment ul li a:focus {color:#ff8149; text-decoration:none}
.recent-comment ul li .comment-name {float:right; color:#999; font-size:0.75em}

/* archive */
.archive {}
.archive ul {margin:6px 0 0; padding:5px 0 0; border-top:1px solid #e9e9e9; list-style:none}
.archive ul:after {display:block; clear:both; content:''}
.archive ul li {font-size:0.875em; width:50%; float:left; padding:4px 0}
.archive ul li a {}
.archive ul li a:hover, .archive ul li a:active, .archive ul li a:focus {color:#ff8149; text-decoration:none}
.archive ul li a .cnt {font-size:0.75em; color:#ff8149}

/* calendar */
.calendar {}
.calendar .tt-calendar {}
.calendar .tt-calendar caption {font-size:1em}
.calendar .tt-calendar caption a:first-child, .calendar .tt-calendar caption a:last-child {color:#999; font-size:0.375em}
.calendar .tt-calendar caption a {vertical-align:middle}
.calendar .tt-calendar th, .calendar .tt-calendar td {padding:5px 0; text-align:center}
.calendar .tt-calendar th {font-size:0.875em; font-weight:normal}
.calendar .tt-calendar td {font-size:0.75em; color:#bbb}
.calendar .tt-calendar .cal_current_week {background:#f5f5f5}
.calendar .tt-calendar .cal_week2, .calendar .tt-calendar .cal_day_sunday {color:red}
.calendar .tt-calendar td a {display:inline-block; padding:2px 8px; background:#ff8149; color:#fff; border-radius:30px;}
.calendar .tt-calendar .cal_day4 {background:#333; color:#fff}

/* tags-box */
.tags-box {}
.tags-box h1 {}
.tags-box ul {margin-top:10px; list-style:none}
.tags-box ul:after {display:block; clear:both; content:''}
.tags-box ul li {float:left; margin:0 0 5px 5px}
.tags-box ul li .cloud1 {color:#ff8149; border:1px solid #ff8149}
.tags-box ul li .cloud2 {color:#000; border:1px solid #000}
.tags-box ul li .cloud3 {color:#333; border:1px solid #333}
.tags-box ul li .cloud4 {color:#999; border:1px solid #999}
.tags-box ul li .cloud5 {color:#bbb; border:1px solid #e5e5e5}
.tags-box ul li a {display:block; padding:2px 6px; border-radius:10px; font-size:0.75em}
.tags-box ul li a:hover, .tags-list li a:focus, .tags-list li a:active {color:#fff; background-color:#ff8149; border:1px solid #ff8149; text-decoration:none}

/* links */
.links {}
.links ul {margin:6px 0 0; padding:5px 0 0; border-top:1px solid #e9e9e9; list-style:none}
.links ul li:before {font-weight:bold; content:"· "}
.links ul li:after {display:block; clear:both; content:''}
.links ul li {font-size:0.875em}
.links ul li a {display:inline-block; padding:4px 0 0;}
.links ul li a:hover, .links ul li a:active, .links ul li a:focus {color:#ff8149; text-decoration:none}
.links ul li a .cnt {font-size:0.75em; color:#ff8149}

/* counter */
.counter {font-family:'Roboto', tahoma, 'Noto Sans', sans-serif; font-size:0.688em; text-align:center; letter-spacing:1px}
.counter .total {display:block}
.counter .today-yesterday {color:#999}
.counter .today-yesterday strong {font-weight:normal; color:#333}
.counter .pipe {display:inline-block; margin:0 4px; color:#eee}

/* *********************************************************************
   Search List
   ****************************************************************** */
.search-list {}
.search-list h3 {padding:20px 0; color:#111; font-size:1.85em; font-weight:normal}

/* *********************************************************************
   Blog Post
   ****************************************************************** */
/* Blog list */
.article-list {margin-bottom:-1px; padding:24px 20px 26px; background:#fff; border:1px solid #ddd}
.article-list::after { content:''; clear:both; display:block }
.article-list .article-item {text-decoration:none}
.article-list .article-item:hover .title {color:#ff8149}
.article-list .article-item .thumb {float:left; width:150px; height:150px; margin:6px 30px 5px 0}
.article-list .article-item .title {font-weight:normal;font-size:1.375em}
.article-list .article-item .summary {margin-top:4px; color:#7e7e7e; vertical-align:top; font:normal 0.875em 'NanumBarunGothic','Noto Sans', sans-serif; line-height:1.5em;}
.article-list .info {margin-top:6px; font-size:0.875em}
.article-list .info a {color:#ff8149}
.article-list .info .pipe {display:inline-block; margin:0 10px; color:#dfdfdf}
.article-list .info .date {color:#999}

/* Article Header */
.article-header {margin-bottom:10px; background:#fff; border:1px solid #ddd}
.article-header:after {display:block; clear:both; content:''}
.article-header .title-wrap {padding:20px 20px 10px 20px}
.article-header .title-wrap .category-info a {color:#ff8149}
.article-header .title-wrap .article-title {margin-top:5px; font-size:2em; color:#111; line-height:1em}
.article-header .info-wrap {margin-top:10px; padding:10px 20px; background:#1d1d1d}
.article-header .info-wrap:after {display:block; clear:both; content:''}
.article-header .info-wrap .article-info {float:left}
.article-header .info-wrap .article-info li {margin-right:15px}
.article-header .info-wrap .article-control {float:right}
.article-header .info-wrap .article-control li {margin-left:15px}
.article-header .info-wrap ul {list-style:none}
.article-header .info-wrap ul:after {display:block; clear:both; content:''}
.article-header .info-wrap ul li {float:left; font-size:0.875em; color:#bbb}
.article-header .info-wrap ul li i {margin-right:4px; color:#eee}
.article-header .info-wrap ul li a {color:#bbb}

/* Article */
.article {padding:20px; background:#fff; border:1px solid #ddd; font-weight:normal; font-size:1em; line-height:1.75em}
.article h1 {font-size:2em; line-height:2.5em}
.article h2 {font-size:1.5em; line-height:2em}
.article h3 {margin:30px 0 10px; padding:15px 0 0 10px; border-left:5px solid #1d1d1d; color:#000; font-weight:bold; font-size:1.5em;}
.article h4 {color:#1d1d1d; font-size:1.125em}
.article ul {padding-left:20px; list-style:disc}
.article ul li ul {padding:0 0 20px 20px; list-style:none; font-size:0.875em}
.article ul li ol {padding:0 0 20px 20px; list-style:decimal; font-size:0.875em}
.article blockquote {padding:20px; font-size:0.875em; line-height:1.5em; color:#333; background:#efefef; border:1px solid #ddd}
.article a {color:#ff8149}

/* Article Footer */
.article-footer {font-size:0.875em}
.article-footer:after {display:block; clear:both; content:''}
.article-footer dl.article-tag {float:left}
.article-footer dl.article-tag dt {float:left}
.article-footer dl.article-tag dd {float:left; margin-left:5px}
.article-footer ul.article-share {float:right}
.article-footer ul.article-share li {display:inline-block; margin-left:10px}
.article-footer ul.article-share li a {color:#333}
.article-footer ul.article-share li a.facebook i {color:#4b69b9}
.article-footer ul.article-share li a.twitter i {color:#53aced}
.article-footer ul.article-share li a.kakaostory i {color:#eed810}

/* Article Related */
.article-related {position:relative; margin:10px 0; padding:20px; background:#fff; border:1px solid #ddd;}
.article-related h1 {font-weight:normal; font-size:1.5em}
.article-related h1 a {color:#ff8149}
.article-related ul.related-list {margin-top:20px; list-style:none}
.article-related ul.related-list li {border-top:1px solid #eee}
.article-related ul.related-list li a {display:block; padding:15px 0 15px 10px; color:#999}
.article-related ul.related-list li a:after {display:block; clear:both; content:''}
.article-related ul.related-list li a:hover, .article-related ul.related-list li a:active, .article-related ul.related-list li a:focus {color:#111; background:#f7f7f7; text-decoration:none}
.article-related ul.related-list li .related-list-thumb {display:block; float:left; margin:0 30px 0 0; width:150px; height:80px; overflow:hidden}
.article-related ul.related-list li .related-list-date {display:block; margin-top:5px; font-size:1em; color:#bbb;}
.article-related ul.related-list li .related-list-title {font-weight:normal; font-size:1.25em}
.article-related .related-more {position:absolute; top:27px; right:20px}

/* Article Reply */
.article-reply h1 {padding:10px 20px; font-weight:normal; font-size:1.5em; background:#2d2d2d; color:#fff}
.reply-wrap {padding:20px; border:1px solid #ddd; background:#fff}
/* Reply Form */
.reply-form {}
.reply-form dl.reply-guest {}
.reply-form dl.reply-guest dt {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.reply-form dl.reply-guest dd {margin-bottom:10px}
.reply-form dl.reply-guest dd input {width:100%; padding:10px 0; border:1px solid #ddd; background:#f9f9f9; color:#999; text-indent:10px;}
.reply-form dl.reply-guest dd input:focus, .reply-form dl.reply-guest dd input:active {background:#fff; color:#111}
.reply-form .secret {}
.reply-form .secret label {cursor:pointer}
.reply-form .secret input {width:24px; height:24px; margin-right:10px; vertical-align:bottom;}
.reply-form dl.reply-write {margin-top:10px;}
.reply-form dl.reply-write dt {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.reply-form dl.reply-write dd {}
.reply-form dl.reply-write dd textarea {width:100%; margin-bottom:10px; padding:10px 0; height:200px; border:1px solid #ddd; background:#f9f9f9; color:#999; text-indent:10px;}
.reply-form dl.reply-write dd textarea:focus, .reply-form dl.reply-write dd textarea:active {background:#fff; color:#111}
.reply-form button {display:block; width:100%; margin:10px 0 0 0; padding:10px 0; border:1px solid #ff7035; background:#ff8149; color:#fff; text-align:center;}
/* Reply list */
.reply-list {margin-bottom:30px; list-style:none; border-bottom:1px solid #e9e9e9}
.reply-list li {padding:20px 0; border-top:1px solid #e9e9e9}
.reply-list li:after {display:block; clear:both; content:''}
.reply-list li .thumb {float:left; width:10%; text-align:center}
.reply-list li .thumb img {border-radius: 50%;}
.reply-list li .reply-content {float:right; width:90%}
.reply-list li .reply-content:after {display:block; clear:both; content:''}
.reply-list li .reply-content ul {}
.reply-list li .reply-content ul li {border:0; padding:0}
.reply-list li .reply-content .info {float:left;}
.reply-list li .reply-content .info li {display:inline-block}
.reply-list li .reply-content .info li.date {font-size:0.75em; color:#bbb}
.reply-list li .reply-content .control {float:right}
.reply-list li .reply-content .control li {display:inline-block; margin-right:10px}
.reply-list li .reply-content .control li a {color:#ff8149; font:normal 0.75em 'NanumBarunGothic', 'Noto Sans', sans-serif;}
.reply-list li .reply-content .control li a .fa {color:#ff8149;}
.reply-list li .reply-content .control li a.reply-url, .reply-list li .reply-content .control li a.reply-url .fa {color:#999;}
.reply-list li .reply-content .control li a.reply-modify, .reply-list li .reply-content .control li a.reply-modify .fa {color:#ed145b}
.reply-list li .reply-content .text {clear:both; padding:10px 0 0; color:#777; font:normal 0.875em 'NanumBarunGothic', 'Noto Sans', sans-serif; line-height:1.5em}
/* @ 비밀글 */ .reply-list li.rp_secret .reply-content .text {color:#999}
/* @ 일반 */   .reply-list li.rp_general {}
/* @ 관리자 */ .reply-list li.rp_admin .reply-content .nickname a {color:#ff8149}
/* RE Reply list */
.reply-list li.re-reply {width:90%; margin-left:10%; border-top:1px solid #f5f5f5}

/* *********************************************************************
   Notice
   ****************************************************************** */
/* Notice list */
.notice-list {margin:10px 0; padding:24px 20px 26px; background:#fff; border:1px solid #ff8149}
.notice-list:after { content:''; clear:both; display:block }
.notice-list .notice-item {text-decoration:none}
.notice-list .notice-item:hover .title {color:#ff8149}
.notice-list .notice-item .thumb {float:left; width:150px; height:150px; margin:6px 30px 5px 0}
.notice-list .notice-item .title {font-weight:normal;font-size:1.375em}
.notice-list .notice-item .summary {margin-top:4px; color:#7e7e7e; vertical-align:top; font:normal 0.875em 'NanumBarunGothic','Noto Sans', sans-serif; line-height:1.5em;}
.notice-list .info {margin-top:6px; font-size:0.875em}
.notice-list .info a {color:#ff8149}
.notice-list .info .pipe {display:inline-block; margin:0 10px; color:#dfdfdf}
.notice-list .info .date {color:#999}
/* Notice View */
.notice-header {margin-bottom:10px; background:#fff; border:1px solid #ddd}
.notice-header:after {display:block; clear:both; content:''}
.notice-header .title-wrap {padding:20px 20px 10px 20px}
.notice-header .title-wrap .category-info a {color:#ff8149}
.notice-header .title-wrap .notice-title {margin-top:5px; font-size:2em; color:#111; line-height:1em}
.notice-header .info-wrap {margin-top:10px; padding:10px 20px; background:#ff8149}
.notice-header .info-wrap:after {display:block; clear:both; content:''}
.notice-header .info-wrap .notice-info {float:left; list-style:none}
.notice-header .info-wrap .notice-info:after {display:block; clear:both; content:''}
.notice-header .info-wrap .notice-info li {margin-right:15px; float:left; font-size:0.875em; color:#fff5f0}
.notice-header .info-wrap .notice-info li i {margin-right:4px; color:#fff}

/* *********************************************************************
   Protected Article
   ****************************************************************** */
/* Protected Article list */
.protected-list {margin:10px 0; padding:24px 20px 26px; background:#f9f9f9; border:1px solid #ddd}
.protected-list .protected-item a {display:block; text-decoration:none}
.protected-list .protected-item .title {font-weight:normal; font-size:1.375em; text-align:center;}
.protected-list .protected-item .summary {margin-top:4px; color:#7e7e7e; text-align:center; vertical-align:top; font:normal 0.875em 'NanumBarunGothic','Noto Sans', sans-serif; line-height:1.5em;}
.protected-list .info {margin-top:6px; font-size:0.875em; text-align:center}
.protected-list .info a {color:#ff8149}
.protected-list .info .pipe {display:inline-block; margin:0 10px; color:#dfdfdf}
.protected-list .info .date {color:#999}
/* Protected Article Form */
.protected-header {margin-bottom:10px; background:#fff; border:1px solid #ddd}
.protected-header:after {display:block; clear:both; content:''}
.protected-header .title-wrap {padding:20px 20px 10px 20px}
.protected-header .title-wrap .category-info a {color:#ff8149}
.protected-header .title-wrap .article-title {margin-top:5px; font-size:2em; color:#111; line-height:1em}
.protected-header .info-wrap {margin-top:10px; padding:10px 20px; background:#1d1d1d}
.protected-header .info-wrap:after {display:block; clear:both; content:''}
.protected-header .info-wrap .protected-info {float:left; list-style:none}
.protected-header .info-wrap .protected-info:after {display:block; clear:both; content:''}
.protected-header .info-wrap .protected-info li {margin-right:15px; float:left; font-size:0.875em; color:#bbb}
.protected-header .info-wrap .protected-info li i {margin-right:4px; color:#eee}
.protected-header .info-wrap .protected-info li a {color:#bbb}
.protected-form {display:block; padding:90px 20px; background:#fff; border:1px solid #ddd; font-weight:normal; font-size:1em; line-height:1.75em; text-align:center}
.protected-form strong {display:block; font-size:2em; color:#111}
.protected-form p {margin-bottom:10px; color:#999}
.protected-form input {padding:0 10px; height:40px; line-height:40px; color:#777; border:1px solid #ddd}
.protected-form button {padding:0 20px; height:40px; line-height:40px; color:#fff; background:#ff8149; border:1px solid #ff8149}

/* *********************************************************************
   GuestBook
   ****************************************************************** */
.guestbook-title {padding:10px 20px; font-weight:normal; font-size:1.5em; background:#2d2d2d; color:#fff}
.guestbook-wrap {padding:20px; border:1px solid #ddd; background:#fff}
/* Guestbook Form */
.guestbook-form {}
.guestbook-form dl.guestbook-guest {}
.guestbook-form dl.guestbook-guest dt {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.guestbook-form dl.guestbook-guest dd {margin-bottom:10px}
.guestbook-form dl.guestbook-guest dd input {width:100%; padding:10px 0; border:1px solid #ddd; background:#f9f9f9; color:#999; text-indent:10px;}
.guestbook-form dl.guestbook-guest dd input:focus, .guestbook-form dl.guestbook-guest dd input:active {background:#fff; color:#111}
.guestbook-form .secret {}
.guestbook-form .secret label {cursor:pointer}
.guestbook-form .secret input {width:24px; height:24px; margin-right:10px; vertical-align:bottom;}
.guestbook-form dl.guestbook-write {margin-top:10px;}
.guestbook-form dl.guestbook-write dt {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.guestbook-form dl.guestbook-write dd {}
.guestbook-form dl.guestbook-write dd textarea {width:100%; margin-bottom:10px; padding:10px 0; height:200px; border:1px solid #ddd; background:#f9f9f9; color:#999; text-indent:10px;}
.guestbook-form dl.guestbook-write dd textarea:focus, .guestbook-form dl.guestbook-write dd textarea:active {background:#fff; color:#111}
.guestbook-form button {display:block; width:100%; margin:10px 0 0 0; padding:10px 0; border:1px solid #ff7035; background:#ff8149; color:#fff; text-align:center;}
/* Guestbook list */
.guestbook-list {margin-bottom:30px; list-style:none; border-bottom:1px solid #e9e9e9}
.guestbook-list li {padding:20px 0; border-top:1px solid #e9e9e9}
.guestbook-list li:after {display:block; clear:both; content:''}
.guestbook-list li .thumb {float:left; width:10%; text-align:center}
.guestbook-list li .thumb img {border-radius: 50%;}
.guestbook-list li .guestbook-content {float:right; width:90%}
.guestbook-list li .guestbook-content:after {display:block; clear:both; content:''}
.guestbook-list li .guestbook-content ul {}
.guestbook-list li .guestbook-content ul li {border:0; padding:0}
.guestbook-list li .guestbook-content .info {float:left;}
.guestbook-list li .guestbook-content .info li {display:inline-block}
.guestbook-list li .guestbook-content .info li.date {font-size:0.75em; color:#bbb}
.guestbook-list li .guestbook-content .control {float:right}
.guestbook-list li .guestbook-content .control li {display:inline-block; margin-right:10px}
.guestbook-list li .guestbook-content .control li a {color:#ff8149; font:normal 0.75em 'NanumBarunGothic', 'Noto Sans', sans-serif;}
.guestbook-list li .guestbook-content .control li a .fa {color:#ff8149;}
.guestbook-list li .guestbook-content .control li a.reply-modify, .guestbook-list li .guestbook-content .control li a.reply-modify .fa {color:#ed145b}
.guestbook-list li .guestbook-content .text {clear:both; padding:10px 0 0; color:#777; font:normal 0.875em 'NanumBarunGothic', 'Noto Sans', sans-serif; line-height:1.5em}
/* @ 비밀글 */ .guestbook-list li.guest_secret .guestbook-content .text {color:#999}
/* @ 일반 */   .guestbook-list li.guest_general {}
/* @ 관리자 */ .guestbook-list li.guest_admin .guestbook-content .nickname a {color:#ff8149}
/* RE Guestbook list */
.guestbook-list li.re-guestbook {width:90%; margin-left:10%; border-top:1px solid #f5f5f5}

/* *********************************************************************
   Tags
   ****************************************************************** */
.tags-title {padding:10px 20px; font-weight:normal; font-size:1.5em; background:#2d2d2d; color:#fff}
.tags-list {overflow:hidden; margin-top:30px; list-style:none}
.tags-list li {float:left; margin:0 0 10px 10px}
.tags-list li .cloud1 {color:#ff8149; border:1px solid #ff8149}
.tags-list li .cloud2 {color:#000; border:1px solid #000}
.tags-list li .cloud3 {color:#333; border:1px solid #333}
.tags-list li .cloud4 {color:#999; border:1px solid #999}
.tags-list li .cloud5 {color:#bbb; border:1px solid #e5e5e5}
.tags-list li a {display:block; padding:7px 14px; border-radius:15px; font-size:0.875em}
.tags-list li a:hover, .tags-list li a:focus, .tags-list li a:active {color:#fff; background-color:#ff8149; border:1px solid #ff8149; text-decoration:none}

/* *********************************************************************
   Pages
   ****************************************************************** */
.pages-wrap {}
.pages-wrap .page-title {padding:20px 0 20px 10px; background:#191919; color:#fff}
.pages-wrap .page-view {padding:20px; background:#fff; border:1px solid #ddd; font-weight:normal; font-size:1em; line-height:1.75em}
.pages-wrap .page-view:after {display:block; clear:both; content:''}

/* *********************************************************************
   Pagination
   ****************************************************************** */
.pagination {margin:10px 0 0; text-align:center}
.pagination .btn-prev, .pagination .btn-next, .pagination a span {display: inline-block; margin-right:2px; padding: 4px 12px; border:1px solid #ddd; border-radius: 4px; color: #111; background:#fff; text-decoration: none; text-align: center;}
.pagination .btn-prev:hover, .pagination .btn-next:hover, .pagination a span:hover,
.pagination .btn-prev:active, .pagination .btn-next:active, .pagination a span:active,
.pagination .btn-prev:focus, .pagination .btn-next:focus, .pagination a span:focus {color:#fff; background:#ff8149; border:1px solid #ff8149}
.pagination a .selected {color:#ff8149; border:1px solid #ff8149}
.pagination .no-more-prev, .pagination .no-more-next {display:none}